.card-container__category {
    color: grey;
    cursor: default;
    padding-left: 0.6rem;
    margin-top: 0;
}

.card-container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    /* justify-content: center; */
}